

	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box; 
	  -moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		background: #2B3A42;
		font-family: "Open Sans", sans-serif;
		font-size: 0.75em;
		color: #EFEFEF;
		margin-bottom: 4.0625em;
	}

	a {
		text-decoration: none;
		color: #FF530D;
	}

	strong {
		color: #FF530D;
	}

	img {
		max-width: 100%;
	}

	.pull-right {
		margin-left: 40px; 
	}

	.pull-down {
		margin-top: 40px;
	}

	.underline {
		text-decoration: underline;
	}

	.indent {
		margin-left: 20px; 
	}

	.selected {
		color: #EFEFEF;
		background: #2B3A42;
		padding: 1.5em 0;
	}

	.clear {
		clear: both;
	}


	/********************************
	HEADER
	*********************************/

	header {
		width: 100%;
		height: 50px;
		top: 0;
		background: #000000;
		display: inline-block;
	}

	header nav {
		width: 100%;/*
		margin: 0.75em auto;*/
		position: absolute;
		top: 0;
		text-align: center;
	}

	header nav ul {
		list-style: none;
	}

	header nav ul li{
		display: inline-block;;
		color: #EFEFEF;
		padding: 1em 0;		
		font-size: 1.125em;
	}

	header nav ul li a{

		color: #EFEFEF;
	}

	h1 {
		font-family: 'Pacifico', cursive;
		font-size: 2.5em;
		margin-bottom: 0.75em;
	}


	/********************************
	MAIN CONTENT
	*********************************/

	.main {
		width: 90%;
		margin: 30px auto 0 auto;
	}

	.main ul, .main ol {
		margin-left: 30px;
	}

	.main img {
		margin: 0.625em auto;
		margin-bottom: 20px;
		width: 150px;
	}

	/********************************
	TABLES
	*********************************/

	table td, table th {
		padding: 2px;
		border: 1px solid #3F5765;
	}

	table th {
		background: #3F5765;
	}


	.lesson-nav ul {
		list-style: upper-roman;
	}

	.lettered {
		list-style: lower-alpha;
	}


	.lesson-nav a,
	.footer-nav a {
		color: #FF530D;
	}



	.lesson-nav a:hover,
	.footer-nav a:hover {
		text-decoration: underline;
	}

	.footer-nav {
	/*	margin-top: 40px;*/
		left: 0;
		bottom: 15px;
		list-style: none;
	}

	.footer-nav li {
		display: inline-block;
	}

	.footer-nav li a {
		padding: 0.625em 0.9375em;
		background: #000000;
		color: #fff;
		border-radius: 5px;
	}


	/*************************************
	MEDIA QUERIES
	**************************************/

	/*@media only screen and(max-device-width: 320px) {
		body {
			background: red;
		}
	}
*/






